@font-face {
  font-family: Zoo;
  src: url(./fonts/ZenTokyoZoo-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
.main_screen {
  background: url(./img-main/background.jpg);
  background-position: center center;
  background-size: cover;
  padding: 15px 15px;
}
.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header_text {
  display: flex;
  flex-direction: column;
}
.header_menu {
  display: flex;
}
.header_menu_item {
  margin-right: 10px;
}
.header_menu_item_link {
  color: white;
  font-size: 12px;
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
}
.header_menu_item_link:hover {
  color: #f1cba9;
  border-bottom: 2px solid #f1cba9;
}
.header_menu_item:last-child {
  margin-right: 0;
}
.header_text_item_top {
  color: #f1cba9;
  font-size: 25px;
}
.header_text_item_bottom {
  color: white;
  font-size: 12px;
}
.main_section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.main_text_wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 250px;
}
.main_title {
  color: white;
  font-family: Zoo, serif;
  font-size: 60px;
  font-weight: 100;
  letter-spacing: 40px;
  line-height: 40px;
}
.main_text {
  background: linear-gradient(0.5turn, #abc3ce, #5fb61d, #6b3c0a);
  font-size: 25px;
}
.button {
  text-decoration: none;
  color: black;
  background-color: #f1cdb3;
  padding: 5px 16px;
  border-radius: 20px;
  font-size: 12px;
}
.new_section {
  height: 200px;
  border-color: aqua;
  width: 100%;
}

.about {
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_text_wrapper {
  display: flex;
  flex-direction: column;
  color: grey;
  width: 400px;
}
.about_img {
  margin-right: 100px;
}
.about_title {
  margin-bottom: 20px;
  text-align: left;
}
.about_text_top {
  margin-bottom: 20px;
}

.pets {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(218, 213, 213);
  min-height: 600px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.pets_slider {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.pets_title {
  margin-bottom: 40px;
}
.pets_list {
  display: flex;
}
.pets_list__item {
  margin-right: 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
  transition: all 0.8s;
}
.pets_list__item:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.pets_list__item:last-child {
  margin-right: 50px;
}
.pets_list__item_img {
  margin-bottom: 30px;
}
.pets_list__item_title {
  margin-bottom: 30px;
}
.pets_list__item_button {
  padding: 10px 20px;
  border: 1px solid #f1cdb3;
  border-radius: 15px;
  background-color: transparent;
  transition: all 0.8s;
}
.pets_list__item_button:hover {
  cursor: pointer;
  transform: rotate(10deg);
  transform: translateY(10px);
}
.pets_list__item_button > a {
  color: black;
}
.pets_arrow__left {
  margin-right: 50px;
  background: url(./img-section/Arrow_left.png) no-repeat;
  background-position: center;
}
.pets_arrow__right {
  background: url(./img-section/Arrow_right.png) no-repeat;
  background-position: center;
}
.pets_arrow__left,
.pets_arrow__right {
  width: 50px;
  height: 50px;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
  transition: all 0.8s;
}
.pets_arrow__left:hover {
  cursor: pointer;
  background-color: #fff;
}
.pets_arrow__right:hover {
  cursor: pointer;
  background-color: #fff;
}
.pets_button {
  background-color: #f1cdb3;
  padding: 10px 20px;
  transition: all 0.8s;
  border: none;
  outline: none;
  border-radius: 15px;
  font-size: 16px;
}
.pets_button:hover {
  cursor: pointer;
  background-color: #fff;
}
.help {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 100px;
}
.help__title__wrapper {
  width: 308px;
}
.help__title {
  font-size: 35px;
  color: #545454;
  line-height: 130%;
  text-align: center;
  margin-bottom: 60px;
}
.help__top,
.help__bottom {
  display: flex;
  width: 100%;
}
.help__top {
  justify-content: space-evenly;
  margin-bottom: 55px;
}
.help__top__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.help__top__item-img {
  margin-bottom: 30px;
}
.help__top__item-text {
  color: #545454;
  font-size: 20px;
  line-height: 115%;
}

.help__bottom {
  justify-content: space-evenly;
}

/*donation*/
.donation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 462px;
  background-color: #f6f6f6;
}
.donation__img {
  margin-right: 30px;
}
.donation__textwrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.donation__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
  margin-bottom: 20px;
}
.donation__subtitle {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 20px;
}
.donation__credit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1cdb3;
  padding: 10px 15px;
  border-radius: 9px;
  margin-bottom: 20px;
}
.donation__credit__icon {
  margin-right: 15px;
}
.donation__cardnumber {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}
.donation__text {
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
  width: 380px;
}
/*footer*/
.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: url(./img-section/footer/footer-background.png) no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 56px;
}
.footer__textwrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 302px;
}
.footer__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 40px;
}
.footer__contact__wrapper {
  display: flex;
  align-items: center;
}
.footer__contact__wrapper--margin {
  margin-bottom: 40px;
}
.footer__contact__icon {
  margin-right: 20px;
}
.footer__contact__text {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

@media (max-width: 375px) {
  .menu {
    display: none;
  }
  .main_screen {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .main_image {
    width: 374px;
    height: 500px;
  }
  .main_section {
    flex-direction: column;
  }
  .main_text_wrapper {
    margin-bottom: 50px;
    align-items: center;
  }
  .header {
    margin-bottom: 50px;
  }
  .main_title,
  .main_text {
    margin-bottom: 30px;
    font-family: Georgia;
  }
  .about {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .about_img {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .about_text_wrapper {
    align-items: center;
    width: 100%;
    padding-right: 26px;
    padding-left: 26px;
  }
  .pets_arrow__left,
  .pets_arrow__right {
    display: none;
  }
  .pets_list {
    flex-direction: column;
  }
  .pets_list__item:last-child {
    margin-right: 0;
  }
  .pets_list__item {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .main_image {
    width: 374px;
    height: 500px;
  }
  .main_text_wrapper {
    margin-bottom: 50px;
    align-items: center;
  }
  .header {
    margin-bottom: 50px;
  }
  .main_title,
  .main_text {
    margin-bottom: 30px;
  }
  .main_section {
    min-height: auto;
  }
  .main_text_wrapper {
    margin-right: 40px;
  }
  .about {
    min-height: 500px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .about_img {
    margin-right: 50px;
  }

  .pets_list {
    flex-direction: column;
  }
  .pets_list__item:nth-child(2) {
    display: none;
  }
  .pets_list__item:nth-child(3) {
    display: none;
  }
  .pets_list__item {
    margin-right: 50px;
  }
}
